* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: blueviolet;
}

.container {
    margin: 10px auto;
    width: fit-content;
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background: rgba(190, 153, 225, 0.139);
    padding: 10px;
    border-radius: 10px;
}

form input,
form button {
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
}

form button {
    color: white;
    cursor: pointer;
    background: purple;
    padding: 5px 10px;
}

ul {
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

li button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
}

.aniversario {
    background: rgb(138, 104, 138);
    color: white;
}

.aniversario .diasFaltando {
    font-size: 1.3rem;
    font-weight: bold;
}

.hidden {
    display: none;
}

.mostrar {
    margin-top: 20px;
    color: white;
    cursor: pointer;
    background: purple;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.aniversariando {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aniversariantes {
    margin-top: 15px;
    background: rgba(243, 193, 193, 0.216);
    padding: 10px;
    border-radius: 10px;
}

.h2Aniver {
    text-align: center;
}
.aniversariando li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: red;
}
